body{
	overflow: hidden;
}
#ban{
	width: auto;
	height:140px;
	background-image: url("img/fond.jpg");
	background-position: center -250px;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom: 10px solid #C60303;
}
#nav{  
    text-align: center;
    width: auto;
    margin-right: -160px;
}
.bouton{
	width:110px;
	height:75px;
	display: inline-block;
	border:2px solid #C60303;
	border-radius: 50%;
	background-image: url('img/oeuf.png');
	background-position: center;
	background-size: 100%;
	margin:100px 10px 0px 10px;
}
.bouton:hover{
	text-decoration: underline;
}
#colone{
	width:160px;
	height:540px;
	background-color: #386201;
	border-right: 5px solid #C60303;
}
.block{
	width:200px;
	height:150px;
	background-color: white;
	text-decoration: underline;
	border:5px solid #C60303;
	margin-left: 20px;
	border-radius: 10%;
	float: left;
	margin-top: 20px;
	text-align: center;
}
.col-md-12{
	padding: 0;
}
.col-md-10{
	padding: 0;
}
.col-md-4{
	padding: 0;
}
.bouton p{
	text-align: center;
	margin-top: 25px;
}