* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
	margin:0;
	background-color: #70AB23;
}
#ban{
	width:auto;
	height:140px;
	background-image: url("img/fond.jpg");
	background-position: center -250px;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	border-bottom: 10px solid #C60303;
}
#navbar{  
    text-align: center;
    margin-left: 150px;
}
.bouton{
	width:150px;
	height:70px;
	display: inline-block;
	border:2px solid #C60303;
	border-radius: 50%;
	line-height:20px;
	background-image: url('img/oeuf.png');
	background-position: center;
	background-size: 100%;
	margin:0px 10px 0px 10px;
}
.bouton:hover{
	text-decoration: underline;
}
p{
	font-size: 20px;
}
h1 {
	margin:0;
	margin-left: 50px;
	line-height:100px;
}
#ban2{
	width:140px;
	height:540px;
	left:0;
	background-color: green;
	display: inline-block;
	position: absolute;
	border-right: 2px solid red;
}
#colone{
	width:160px;
	height:540px;
	background-color: #386201;
	border-right: 5px solid #C60303;
}
.block{
	width:200px;
	height:150px;
	background-color: white;
	text-decoration: underline;
	border:5px solid #C60303;
	margin-left: 20px;
	border-radius: 10%;
	float: left;
	margin-top: 20px;
	text-align: center;
}
#img{
	height: 400px;
	width: 500px;
	margin-right: 20px;
	background-color: white;
	border:2px solid #C60303;
	border-radius: 10%;
	float: right;
}