body{
	background-image: image-url("fond9.png");
}
#marge{
	padding:20px 40px 0px 40px;
}
a{
	color:white;
	text-decoration: none;
}
a:hover{
	color: white;
	text-decoration: none;
}
#ban{
	background-image: image-url('fond.jpg');
	background-size: 100%;
	background-position:45% 55%;
	border:1px solid black;
	width: auto;
	height:140px;
	border-radius: 20px;
	text-align: center;
}
#ban h1{
	text-align: left;
	margin:0;
	color: black;
}
#nav{
	padding: 0;
	text-align: center;
	margin:10px 0px 10px 0px;
}
.bouton{
	width:100px;
	height:50px;
	background-color:#797979;
	background-position: center;
	background-size: 100%;
	margin:20px 0px 20px 20px;
}
.bouton p{
	text-align: center;
	line-height: 50px;
	color:white;
}
.bouton:hover{
	box-shadow: 0px 10px 10px black;
}
.col-md-10{
	padding: 0;
	text-align: center;
}
.col-md-8{
	padding: 0;
	margin-left: 300px;
}
.col-md-6{
	padding:0;
}
.col-md-2{
	height: auto;
	padding: 0;
}
.row:nth-child(3){
	height: 420px;
	width:auto;
	background-image: image-url('mouton.jpg'); 
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center -100px;
	border:2px solid #5C5C5C;
	border-radius: 5px;
	margin-bottom: 0px;
}
#box{
	height:auto;
	width:auto;
	border-radius: 30px;
	margin: 50px 50px 50px 20px;
	background-color: rgba(#FFF, 0.5);
	text-align: left;
	font-family: Times;
	color: black;
	font-size: 18px;
}
#mention{
	margin:0px -55px 0px -55px;
	text-align: center;
	height: auto;
	width: auto;
	background-color: rgba(#FFF, 0.7);
}
#mention p{
	margin:0;
	color:black;
}
@media screen and (max-width:995px){
	#ban{background-image: none;}
	.row:nth-child(3){background-image: none;border: none;}
	.bouton{margin:0px;display:inline;}
	.bouton:hover{box-shadow: none;}
	.bouton p{
		color: #fff;
  		background-color: #5cb85c;
  		border-color: #4cae4c;
		line-height: normal;height: 20px;
		width: auto;
		border-radius: 10px;
	}
	.bouton:hover{
		color: #fff;
  		background-color: #449d44;
  		border-color: #398439;
	}
}
@media screen and (max-width:720px){
	#nav:{display:none;}
	}
@media screen and (max-width:570px){
	#ban{display:none;}
}