@import url(http://fonts.googleapis.com/css?family=Lobster);
body{
	background-image: image-url("fond9.png");
}
a{
	color:white;
	text-decoration: none;
}
a:hover{
	color: white;
	text-decoration: none;
}
p{
	font-family: Arial, Times;
	color:black;
	font-size: 15px;
	margin-bottom: 0px;
}
h2{
	font-family: lobster, Arial, Times;
	margin: 20px 0px 20px 30px;
	text-align: left;
	color: black;
}
h3{
	margin:0px 0px 0px 30px;
	font-family: Arial, Times;
	color:black;
}
h4{
	margin: 0;
	color: black;
	font-family: Arial, Times;
}
h5{
	font-family: Arial, Times;
	color:red;
	text-align: left;
}
input,textarea {
	width: 300px;
}
button {
	text-align: center;
}
td {
	height:50px;
	width: 150px;
	padding-bottom: 10px;
	font-family: Arial, Times;
	font-size: 15px;
	text-align: left;
}
li {
	font-family: Arial, Times;
	font-size: 15px;
}
span {
	color:red;
}
span .glyphicon .glyphicon-chevron-left{
	border-color: white;
}
span .glyphicon .glyphicon-chevron-right{
	border-color: white;
}
thead tr td {
	text-align: center;
}
#carte{
	width: 100%;
	margin:20px 0px 20px 0px;
}
#formulaire{
	width: 100%;
}
#marge{
	padding:20px 40px 0px 40px;
}
#ban{
	width: 100%;
	border-radius: 5px;
}
#nav{
	padding: 0;
	text-align: center;
	margin:20px 0px 20px 0px;
}
.btn{
	text-align: center;
	margin:2px 0px 2px 0px;
	width:173px;
}
#box{
	border:1px solid black;
	border-radius: 5px;
	background-color: #FEFEFE;
}
.col-md-12{
	margin: 0;
	padding: 0;
}
.col-md-8{
	padding: 0;
	margin-left: 300px;
}
.col-md-6{
	padding:0;
}
#mention{
	margin:20px 0px 0px 0px;
	text-align: center;
	height: auto;
	width: auto;
	background-color: rgba(#fff, 1);
	border-radius: 5px;
}
#mention p{
	margin:0;
	color:black;
}
#jmlorin{
	width: 100%;
	margin:0px 0px 20px 0px;
	border-radius: 5px;
	border: 1px solid black;
}
#index{
	width: auto;
	margin: 0px 20px 0px 20px;
	text-align: left;
}
.cont{
	color:blue;
	text-decoration: underline;
	}
.cont:hover{
	color: blue;
}
.col-md-8{
	margin: 0;
}
#article{
	margin:0px 30px 30px 30px;
	text-align: justify;
}
#citation{
	width: auto;
}
.cit1{
	text-align: justify;
	padding: 20px 20px 10px 20px;
	display: inline-block;
	margin:0px 20px 10px 20px;
}
.vign{
	width: 150px;
	height: 150px;
	background-size: 150px 150px;
	background-repeat: no-repeat;
	border-radius: 5px;
}
.titrevign{
	margin-bottom: 10px;
	margin-left: 25px;
}
#block1{
	background-image: image-url('poule.png');
}
#block2{
	background-image: image-url('oie.png');
}
#block3{
	background-image: image-url('lapin.png');
}
#block4{
	background-image: image-url('agneau.png');
}
.desc{
	margin-bottom: 60px;
	width: 200px;
	height: 150px;
}
.desc2{
	margin-bottom: 0px;
	width:200px;
	height:150px;
}
#inst{
	margin:0px 20px 20px 20px;
}

/*css page contact*/

.boxcontact{
	text-align: center;
	input,textarea{
		width: 100%;
	}
}
#bande_horizontale{
	padding: 0px;
	margin-right: 80px;
	margin-left: 80px;
	margin-bottom: 25px; 
	border: none;
	width: auto;
	height: 1px;
	background-color: red;
} 
#marg{
	margin-bottom: -15px; 
}
#boxnom{
	text-align: center;
	margin-bottom: 5px;
	border-radius: 5px;
}
#boxprenom{
	text-align: center;
	margin-bottom: 5px;
	border-radius: 5px;
}
#boxmail{
	text-align: center;
	margin-bottom: 5px;
	border-radius: 5px;
}
#boxphone{
	text-align: center;
	margin-bottom: 5px;
	border-radius: 5px;
}
#boxmessage{
	text-align: center;
	margin-bottom: 5px;
	border-radius: 5px;
}
#mentions{
	text-align: center;
	margin:auto;
	p {
		color: #7E8080;
	}
}
#boxenvoyer{
	text-align: center;
	margin: 5px 0px 5px 0px;
	border-radius: 5px;
}
#adresse{
	text-align: center;
	font-family: Lora, Arial, Times;
	font-size: 120%;
	margin-bottom: 40px;
}
.img {
	height: 50px;
	width: 50px;
}
.cat{
	margin: 20px 0px 20px 25px;
	font-size: 20px;
}
.rubrique{
	margin: 50px 0px 20px 0px;
}
.serv{
	margin:20px 30px 20px 30px;
	text-align: justify;
}
#tableau1 tbody tr td:first-child{
	text-align: center;
}
#tableau2 tbody tr td:first-child{
	text-align: center;
}
#tableau3 tbody tr td:first-child{
	text-align: center;
}
#tableau4{
	margin-left: 40px;
	text-align: left;
}
#tableau4 tbody tr td{
	height: 100px;
	border: solid black 1px;
}
.adresse{
	width: 400px;
}
.marches{ 
	margin-left: 30px;
	font-family: Arial, Times;
}
#cliquez {
	margin-left: 30px; margin-right: 30px;
}
.descarousel{
	color:white;
	font-family: Arial, Times;
}
#carousel{
	margin-bottom: 20px;
}
.transition-timer-carousel .carousel-caption {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	width: 100%;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: left;
	padding-top: 5px;
	padding-left: 15%;
	padding-right: 15%;
}
.transition-timer-carousel .carousel-caption .carousel-caption-header {
	margin-top: 10px;
	font-size: 24px;
}
.transition-timer-carousel .carousel-indicators {
	bottom: 0px;
	margin-bottom: 5px;
}
.transition-timer-carousel .carousel-control {
	z-index: 11;
}
.transition-timer-carousel .carousel-caption {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	width: 100%;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: left;
	padding-top: 5px;
	padding-left: 15%;
	padding-right: 15%;
}
.transition-timer-carousel .carousel-caption .carousel-caption-header {
	margin-top: 10px;
	font-size: 24px;
}
.transition-timer-carousel .carousel-indicators {
	bottom: 0px;
	margin-bottom: 5px;
}
.transition-timer-carousel .carousel-control {
	z-index: 11;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar {
    height: 5px;
    background-color: #5cb85c;
    width: 0%;
    margin: -5px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar.animate{
    /* We make the transition time shorter to avoid the slide transitioning
    before the timer bar is "full" - change the 4.25s here to fit your
    carousel's transition time */
    -webkit-transition: width 6s linear;
	-moz-transition: width 6s linear;
	-o-transition: width 6s linear;
	transition: width 6s linear;
}