<div class="container-fluid">
	<div class="row">
		<h2>
			<span>C</span>ontact
		</h2>
		<div class ="col-md-6 col-md-offset-3">
		<div class="adresse"><p>Entreprise Lorin Jean Marie<br>ZA Les Marais<br>Rue des Sablons<br>28240 Belhomert-Guehouville<br>Tel: 02.37.37.04.42<br>Mobile: 06.09.75.39.58<br>E-mail: </p>
		</div>
		

		<div class ="boxcontact">
			<br />
			<form>
		
				<div class="boxnom">
					<h5 class="h5"><p>Votre Nom:</p></h5>
					<input type="text" oval="Nom*" name="Nom" placeholder="Nom*" required="required"/>
				</div>
				<div class="boxprenom">
					<h5 class="h5"><p>Votre Prénom:</p></h5>
					<input type="text" oval="Prénom*" name="Prenom" placeholder="Prénom*" required="required"/>
				</div>
				<div class="boxe-mail">
					<h5 class="h5"><p>Votre E-mail:</p></h5>
					<input type="text" oval="E-mail*" name="email" placeholder="E-mail*" required="required"/>
				</div>
				<div class="boxtelephone">
					<h5 class="h5"><p>Votre numéro de Téléphone:</p></h5>
					<input type="text" oval="Téléphone*" name="Telephone" placeholder="Téléphone*" required="required"/>
				</div>
				<div class="boxtitre">
					<h5 class="h5"><p>Votre Titre:</p></h5>
					<input type="text" oval="Titre" name="titre" placeholder="Titre" required="required"/>
				</div>
				<div class="boxmessage">
					<h5 class="h5"><p>Votre Message:</p></h5>
					<textarea oval="Message*" name="Message" placeholder="Message"></textarea>
				</div>
				
				<div class="boxenvoyer">
					<button title="Envoyer" value="Envoyer"><span class="ico btn send">ENVOYER</span></button>
				</div>
			</form>
		</div>
	</div><!--row-->
</div><!--container-fluid-->
