<div class="container-fluid">
	<div class="row">
		<h2>
			<span>C</span>ontact
		</h2>
		<div class="contact">
			<p>Entreprise Lorin Jean Marie<br>ZA Les Marais<br>Rue des Sablons<br>28240 Belhomert-Guehouville<br>Tel: 02.37.37.04.42<br>Mobile: 06.09.75.39.58<br>E-mail: jeanlorin@gmail.ru</a></p>
		</div>
	</div><!--row-->
</div><!--container-fluid-->