<div class="container-fluid">
	<div class="row">
		<h2>
			<span>C</span>ontact
		</h2>
		<div class ="col-md-6 col-md-offset-3">
			<div id="adresse">
				<p>Entreprise Lorin Jean Marie<br>ZA Les Marais<br>Rue des Sablons<br>28240 Belhomert-Guehouville<br>Tel: 02.37.37.04.42<br>Mobile: 06.09.75.39.58<br>E-mail: 
				</p>
			</div><!--adresse-->
		</div><!--col-md-6 col-md-offset-3-->
	</div><!--row-->
	<div class="row">
		<div id="fondform">
			<div class ="col-md-6 col-md-offset-3">
				<div id="formulaire">
					<form>
						<div id="boxnom">
							<p>Votre Nom:</p>
							<input type="text" oval="Nom*" name="Nom" placeholder="Nom*" required="required"/>
						</div>
						<div id="boxprenom">
							<p>Votre Prénom:</p>
							<input type="text" oval="Prénom*" name="Prenom" placeholder="Prénom*" required="required"/>
						</div>
						<div id="boxmail">
							<p>Votre E-mail:</p>
							<input type="text" oval="E-mail*" name="email" placeholder="E-mail*" required="required"/>
						</div>
						<div id="boxphone">
							<p>Votre numéro de Téléphone:</p>
							<input type="text" oval="Téléphone*" name="Telephone" placeholder="Téléphone*" required="required"/>
						</div>
						<div id="boxtitre">
							<p>Votre Titre:</p>
							<input type="text" oval="Titre" name="titre" placeholder="Titre" required="required"/>
						</div>
						<div id="boxmessage">
							<p>Votre Message:</p>
							<textarea oval="Message*" name="Message" placeholder="Message"></textarea>
						</div>
						<div id="boxenvoyer">
							<button title="Envoyer" value="Envoyer"><span class="ico btn send">ENVOYER</span></button>
						</div>
					</form>
				</div>
			</div><!--col-md-6 col-md-offset-3-->
		</div><!--fondform-->
	</div><!--row-->
</div><!--container-fluid-->
