<div class="container-fluid">
	<div class="row" id="marg">
		<h2>
			<span>C</span>ontact
		</h2>
		<div class ="col-md-6 col-md-offset-3">
			<div id="adresse">
				<p>Entreprise Jean Marie Lorin<br>ZA Les Marais<br>Rue des Sablons<br>28240 Belhomert-Guehouville<br>Tel: 02.37.37.04.42<br>Mobile: 06.09.75.39.58<br>E-mail: volailledessablons(a)gmail.com
				</p>
			</div><!--adresse-->
		</div><!--col-md-6 col-md-offset-3-->
	</div><!--row-->
	<div id="bande_horizontale"></div> 
	<div class="row">
		<form class ="col-md-6-md-offset-3" method="post" action="http://staging-simplonform.herokuapp.com/message/f041fb94-844f-4372-a4c0-f2cbd254a1fa" id="formulaire">
			<div id="boxnom">
				<p>Nom:</p>
				<input type="text" oval="Nom*" name="Nom" placeholder="Nom*" required="required"/>
			</div>
			<div id="boxprenom">
				<p>Prénom:</p>
				<input type="text" oval="Prénom*" name="Prenom" placeholder="Prénom*" required="required"/>
			</div>
			<div id="boxmail">
				<p>E-mail:</p>
				<input type="text" oval="E-mail*" name="email" placeholder="E-mail*" required="required"/>
			</div>
			<div id="boxphone">
				<p>Téléphone:</p>
				<input type="text" oval="Téléphone*" name="Telephone" placeholder="Téléphone*" required="required"/>
			</div>
			<div id="boxmessage">
				<p>Message:</p>
				<textarea oval="Message" name="Message" placeholder="Message*" required="required"></textarea>
			</div>
			<div id="mentions">
				<p>* Champs obligatoire</p>
			</div>
			<div id="boxenvoyer">
				<button title="Envoyer" value="Envoyer"><span class="ico btn send">ENVOYER</span></button>
			</div>
		</form>
	</div><!--row-->
</div><!--container-fluid-->
