<div class="container-fluid">
  <div class="row">

    <h2>
      <span>Q</span>ui<span> S</span>ommes <span>N</span>ous?
    </h2>
    <section class="presentation">
      <article>
        <ul>
           <li>
              <p>En Mai 1991, Jean-Marie Lorin crée son entreprise à la Loupe, en Eure-et-Loir. Il se spécialise dans la vente de volailles, gibiers, lapins, agneaux, œufs et produits laitiers sur  les marchés d’Ile-de-france. Il travaille en collaboration avec des producteurs locaux de volailles qui pratiquent l’élevage traditionnel.</p>
          </li>
          <li>
              <p>En xxxx, Jean-Marie Lorin décide d’élever des agneaux qu’il vend également sur les marchés. En septembre 2001, il fait construire les locaux de l'entreprise sur la zone artisanale de Belhomert (Eure-et-Loir).</p>
          </li>     
          <li>
              <p>En 2014, il installe un abattoir agréé CE sur cette même zone.<br> Il ouvre ainsi un nouveau service d’abattage pour les professionnels et les particuliers.</p>
          </li>
          <li>
              <p>L’entreprise, qui vend ses produits sous la marque "Les Volailles des Sablons", en assure une traçabilité totale et offre un service de qualité pour satisfaire au mieux la demande de sa clientèle.</p>
          </li>

          <li>
            <p>Que vous soyez professionnel ou particulier, n'hésitez pas à poser vos questions sur les prestations d'abattage via le formulaire de notre page "Contact".</p>
          </li>
          </li>     
        </ul>
          <blockquote><strong>
      La volaille des sablons vaut largement en qualité le label rouge ou le fermier. Pensez à mes volailles et mes agneaux et pas seulement pour les fêtes, à consommer sans modération ! <br>
      > Monsieur Lorin
          </blockquote>

        <blockquote>
      J'achète depuis vingt ans,sur mon marché, les produits de M.Lorin et je les recommande à tous mes amis<br>
      > Mme L.
        </blockquote></strong>
      </article>
    </section>
    
  </div>
</div>
