<div class="container-fluid">
  <div class="row">
    <h2>
      <span>Q</span>ui<span> S</span>ommes <span>N</span>ous?
    </h2>
    <div class="presentation">
      <div id="article">
        <p>« Les‭ ‬Volailles de Sablons ‭»‬ existe depuis‭ ‬1991‭ ‬quand Jean-Marie‭ ‬LORIN,‭ ‬entrepreneur individuel,‭ ‬a‭ ‬installé son‭ ‬activité artisanale à La Loupe,‭ ‬en Eure-et-Loir,‭ ‬au sein du Parc naturel régional du Perche.‭ ‬En étroite collaboration avec‭ ‬des producteurs locaux de volailles‭ ‬pratiquant l’élevage traditionnel,‭ ‬il s‭’‬est spécialisé dans la vente de volailles,‭ ‬gibiers,‭ ‬lapins,‭ ‬agneaux,‭ ‬œufs et produits laitiers‭ ‬de qualité‭ ‬supérieure‭ ‬sur des marchés d‭’‬Ile-de-France.‭ ‬Son souhait était alors de proposer une viande‭ ‬de‭ ‬choix pour le public exigeant de la capitale et‭ ‬de‭ ‬ses‭ ‬environs.‭<br> 
   
        En septembre‭ ‬2001,‭ ‬l‭’‬entreprise s‭’‬agrandit et‭ ‬déménage‭ ‬à‭ ‬Belhomert,‭ ‬proche de La Loupe‭ ‬ (Eure-et-Loir‭)‬.‭ ‬C‭’‬est ici que Jean-Marie LORIN installe en‭ ‬2014‭ ‬un abattoir‭ ‬flambant neuf‭ ‬agréé CE‭ ‬conformément‭ ‬à la réglementation stricte de l‭’‬Union européenne.‭ ‬Il ouvre ainsi un nouveau service d‭’‬abattage pour des professionnels et des particuliers.<br>

        La traçabilité des produits‭ "‬Les Volailles des Sablons‭"‬ est totale car l‭’‬entreprise ne recourt qu‭’‬aux fournisseurs du territoire et suit un protocole strict de qualité pour satisfaire au mieux la demande de sa clientèle.<br>

        Que vous soyez professionnel ou particulier,‭ ‬n'hésitez pas à poser vos questions sur les prestations d'abattage via le formulaire de notre page‭ "‬Contact‭"‬.<br>
      </div>
    </div>
  </div><!--row-->
  <div class="row" id="citation">
    <div class="col-md-6">
      <div class="cit1">
        <p><em>«‬ Les‭ ‬Volailles des‭ ‬Sablons‭ ‬sont d‭’‬excellents produits‭ ‬du territoire‭ ‬que nous avons le plaisir de retrouver chaque semaine‭ ‬depuis maintenant‭ ‬20‭ ‬ans‭ ‬sur notre marché parisien. ‭»<br></em>
        > Cliente fidèle,‭ ‬Paris‭</p>
      </div>
    </div><!--col-md-6-->
    <div class="col-md-6">
      <div class="cit1">
        <p><em>« J‭’‬apprécie la qualité de la viande proposée par Monsieur Lorin et‭ ‬son‭ ‬excellent rapport qualité prix. »<br></em>
        > Client fidèle,‭ ‬Seine-Saint-Denis‭</p>
      </div>
    </div><!--col-md-6-->
  </div><!--row-->
</div><!--container fluid-->  