<ul>
	<li>Située en Eure-et-Loir, l’entreprise Lorin Jean-Marie,  élève et abat des volailles traditionnelles (poulets, pintades, et toutes les volailles festives).</li>
<br>
	<li>Nous commercialisons nos produits sur les marchés d’Ile-de-France et faisons de la vente directe dans nos locaux.</li>
<br>
	<li>Agréée selon les normes CEE., notre entreprise vous propose des produits de qualité et un service d’abattage pour des professionnels
	et des particuliers.</li>
<br>
	<li>L’entreprise assure une traçabilité  de ses produits et un service de qualité pour satisfaire au mieux la demande de la clientèle.</li>
</ul>