<title>Les Volailles des Sablons</title>
<div class="container-fluid">
  <div class="row" id="accueil">
    <h2>
      <span class="firstletter">Q</span>ui<span  class="firstletter"> S</span>ommes <span class="firstletter">N</span>ous?
    </h2>
      <div class="col-md-8">
        <div id="index">
          <p>« Les‭ ‬Volailles des Sablons ‭»‬ existe depuis‭ ‬1991‭ ‬quand Jean-Marie‭ ‬LORIN,‭ ‬entrepreneur individuel,‭ ‬a‭ ‬installé son‭ ‬activité artisanale à La Loupe,‭ ‬en Eure-et-Loir,‭ ‬au sein du Parc naturel régional du Perche.‭ ‬En étroite collaboration avec‭ ‬des producteurs locaux de volailles‭ ‬pratiquant l’élevage traditionnel,‭ ‬il s‭’‬est spécialisé dans la vente de volailles,‭ ‬gibiers,‭ ‬lapins,‭ ‬agneaux,‭ ‬œufs et produits laitiers‭ ‬de qualité‭ ‬supérieure‭ ‬sur des marchés d‭’‬Ile-de-France.‭ ‬Son souhait était alors de proposer une viande‭ ‬de‭ ‬choix pour le public exigeant de la capitale et‭ ‬de‭ ‬ses‭ ‬environs.‭</p>

          <p>En septembre‭ ‬2001,‭ ‬l‭’‬entreprise s‭’‬agrandit et‭ ‬déménage‭ ‬à‭ ‬Belhomert,‭ ‬proche de La Loupe‭ ‬ (Eure-et-Loir‭)‬.‭ ‬C‭’‬est ici que Jean-Marie LORIN installe en‭ ‬2014‭ ‬un abattoir‭ ‬flambant neuf‭ ‬agréé CE‭ ‬conformément‭ ‬à la réglementation stricte de l‭’‬Union européenne.‭ ‬Il ouvre ainsi un nouveau service d‭’‬abattage pour des professionnels et des particuliers.</p>

          <p>La traçabilité des produits‭ "‬Les Volailles des Sablons‭"‬ est totale car l‭’‬entreprise ne recourt qu‭’‬aux fournisseurs du territoire et suit un protocole strict de qualité pour satisfaire au mieux la demande de sa clientèle.</p>

          <p>Que vous soyez professionnel ou particulier, <a href ="/contact.html" class="cont">posez vos questions</a> sur les prestations d'abattage.</p>
        </div><!--index-->
      </div><!--col-md-8-->
      <div class="col-md-4">
        <img src="images/jmlorin.jpg" alt="jmlorin" id="jmlorin"></img>
      </div>
  </div><!--row-->
</div><!--container fluid-->
