<ul>
	<li>Située en Eure-et-Loir, l’entreprise Lorin Jean-Marie,  élève des agneaux et abat des volailles traditionnelles (poulets, pintades, et toutes les volailles festives).</li>
<br>
	<li>Nous commercialisons nos produits sur les marchés d’Ile-de-France et faisons de la vente directe dans nos locaux.</li>
<br>
	<li>Agréée selon les normes CEE., notre entreprise vous propose des produits de qualité et un service d’abattage pour des professionnels
	et des particuliers.</li>
<br>
	<li>L’entreprise assure une traçabilité  de ses produits et un service de qualité pour satisfaire au mieux la demande de la clientèle.</li>
</ul>
<ul>
<li>Mai 1991:  Jean-Marie Lorin crée son entreprise à la Loupe (Eure-et-Loir).<br>Il se spécialise dans la vente de volailles, gibiers, lapins, agneaux, œufs et produits laitiers sur  les marchés d’Ile-de-france. Il travaille en collaboration avec des producteurs locaux de volailles qui pratiquent l’élevage  traditionnel.<br> Puis, Jean-Marie Lorin décide d’élever des agneaux qu’il vend également sur les marchés. </li> 

<li>Septembre 2001: construction des locaux sur la zone artisanale de Belhomert (Eure-et-Loir).</li> 

<li>En 2014:<br>- Installation d’un abattoir de volailles et de lagomorphes: (mammifères tels que lapins et lièvres), agréé CE.<br>- Ouverture d’un nouveau service d’abattage pour les professionnels et les particuliers dans lequel nous préparons les volailles pour nos marchés.</li>
</ul>