<div class="container-fluid">
  <div class="row">

    <h2>
      <span>Q</span>ui<span> S</span>ommes <span>N</span>ous?
    </h2>
    <p>
      Vente sur certains marchés d'Ile-de-France,ainsi que service d'abattage et de conditionnement.<strong>(voir bouton où nous trouver.)</strong>Nous nous adressons, <u>aux entreprises et aux particuliers</u>.
    </p>

    <section class="presentation">
      <article>
        <ul>
          <li id⁼"qsn">
            <p>Située en Eure-et-Loir, l’entreprise Lorin Jean-Marie,  élève des agneaux et des volailles traditionnelles (poulets, pintades, et <strong>toutes les volailles festives</strong>).</p>
          </li>
          <li>
            <p>Nous commercialisons nos produits sur les marchés d’Ile-de-France et faisons de la vente directe dans nos locaux,agréé selon les normes C.E., notre entreprise vous propose des produits de qualités et un service d’abattage pour des professionnels et particuliers.</p>
          </li>
          <li>
            <p>L’entreprise assure une traçabilité  de ses produits et un service de qualité pour satisfaire au mieux la demande de la clientèle.</p>
          </li>
          <li>
            <p>Mai 1991:  Jean-Marie Lorin crée son entreprise à la Loupe, Eure-et-Loir. Il se spécialise dans la vente de volailles, gibiers, lapins, agneaux, œufs et produits laitiers sur  les marchés d’Ile-de-france. Il travaille en collaboration avec des producteurs locaux de volailles qui pratiquent l’élevage  traditionnel.</p>
          </li>
          <li>
            <p>Jean-Marie Lorin décide d’élever des agneaux qu’il vend également sur les marchés.Septembre 2001: construction des locaux sur la zone artisanale de Belhomert (Eure-et-Loir).</p>
          </li>     
          <li>
            <p>En 2014: Installation d’un abattoir de volailles et de lagomorphes: (mammifères tels que lapins et lièvres), agréé CE.<br> Ouverture d’un nouveau service d’abattage pour les professionnels et les particuliers dans lequel nous préparons les volailles pour nos marchés.</p>
          </li>     
        </ul>
            <blockquote><strong>
      La volaille des sablons vaut largement en qualité le label rouge ou le fermier. Pensez à mes volailles et mes agneaux et pas seulement pour les fêtes, à consommer sans modération ! <br>
      > Monsieur Lorin
    </blockquote>

    <blockquote>
      J'achète depuis vingt ans,sur mon marché, les produits de M.Lorin et je les recommande à tous mes amis<br>
      > Mme L.
    </blockquote></strong>
      </article>
    </section>
    
  </div>
</div>
