<h3>Nos produits: disponibles à la vente sur les marchés ainsi qu'en nos locaux:</h3>
	<h4>Volailles et lagomorphes</h4>
	<img class=volaille src="images/poulet.jpg"> Poulets <br>
	<img class=volaille src="images/pintade.jpg"> Pintades<br>
	<img class=volaille src="images/canette.jpeg"> Canettes <br>
	<img class=volaille src="images/canard.jpeg"> Canard <br>
	<img class=volaille src="images/coq.jpeg"> Coqs <br>
	<img class=volaille src="images/lapin.jpeg"> Lapins <br>
	<h4>Volailles festives</h4>
	<img class=volaille src="images/chapon.jpeg"> Chapons 
	<img class=volaille src="images/oie.jpg"> Oies 
	<img class=volaille src="images/dinde.jpg"> Dindes 
	<img class=volaille src="images/poularde.jpg"> Poulardes 
<h3>Services: Abattage et découpe pour professionnels artisans bouchers et/ou particuliers</h3>