<div class="row">
	<div class="margebox">
		<h2>Nos <span>P</span>roduits & <span>S</span>ervices</h2>
		<p class="text">Nos produits sont disponibles à la vente sur les marchés ainsi qu'à Belhomert.</p>
	</div><!--margbox-->
</div>
<p class="cat">Volailles et lagomorphes</p>
<table>
<tbody>
    <tr>
      <td><img class="volaille" src="images/poulet.jpg"></td>
      <td>Poulets</td>
      <td>Elevés en plein air</td>
      <td>Age: x semaines</td>
      <td>Alimentation: xxx</td>
    </tr>
    <tr>
      <td><img class="volaille" src="images/pintade.jpg"></td>
      <td>Pintades</td>
      <td>Elevées en plein air</td>
      <td>Age: x semaines</td>
      <td>Alimentation: xxx</td>
    </tr>
    <tr>
    <td><img class="volaille" src="images/canette.jpeg"></td>
     <td>Canettes</td>
     <td>Elevées en plein air</td>
     <td>Age: x semaines</td>
     <td>Alimentation: xxx</td>
    </tr>
    <tr>
    	<td><img class="volaille" src="images/canard.jpeg"></td>
     	<td>Canards</td>
    	<td>Elevés en plein air</td>
     	<td>Age: x semaines</td>
     	<td>Alimentation: xxx</td>
    </tr>
    <tr>
		<td><img class="volaille" src="images/coq.jpeg"></td>
     	<td>Coqs</td>
    	<td>Elevés en plein air</td>
     	<td>Age: x semaines</td>
     	<td>Alimentation: xxx</td>
	</tr>
	<tr>
		<td><img class="volaille" src="images/lapin.jpeg"></td>
		<td>Lapins</td>
    	<td>Elevés en plein air</td>
     	<td>Age: x semaines</td>
     	<td>Alimentation: xxx</td>
	</tr>
  		</tbody>
			</table>
       <tr>
<p class="cat">Volailles festives</p>
<table>
<tbody>
    <tr>
      <td><img class="volaille" src="images/chapon.jpeg"/></td>
      <td>Chapons</td>
      <td>Elevés en plein air</td>
      <td>Age: x semaines</td>
      <td>Alimentation: xxx</td>
    </tr>
    <tr>
      <td><img class="volaille" src="images/oie.jpg"/></td>
      <td>Oies</td>
      <td>Elevées en plein air</td>
      <td>Age: x semaines</td>
      <td>Alimentation: xxx</td>
    </tr>
    <tr>
    <td><img class="volaille" src="images/dinde.jpg"/></td>
     <td>Dindes</td>
     <td>Elevées en plein air</td>
     <td>Age: x semaines</td>
     <td>Alimentation: xxx</td>
    </tr>
    <tr>
    	<td><img class="volaille" src="images/poularde.jpg"/></td>
     	<td>Poulardes</td>
    	<td>Elevées en plein air</td>
     	<td>Age: x semaines</td>
     	<td>Alimentation: xxx</td>
    </tr>
  </tbody>
</table>
<div class="row">
	<div class="margebox">
		<h4>Services</h4>
  		<p class="text">Abattage et découpe pour professionnels artisans bouchers et/ou particuliers</p>
	</div>
</div>
