<div class="container-fluid">
  <div class="row">

		<h2><span>N</span>os <span>P</span>roduits & <span>S</span>ervices</h2>

   <p>Toutes nos volailles traditionnelles‭ ‬sont élevées en plein air et‭ ‬bénéficient d'une alimentation‭ ‬saine‭ ‬aux céréales avec un complément de minéraux.‭ ‬La durée d’élevage de toutes nos volailles‭ ‬traditionnelles‭ ‬est‭ ‬de‭ ‬15‭ ‬semaines minimum.‭<br>
    Nos volailles festives sont élevées‭ ‬en plein air et bénéficient d‭’‬une alimentation saine‭ ‬aux céréales avec un complément de minéraux.‭ ‬Leur‭ ‬élevage dure au‭ ‬moins‭ ‬6‭ ‬mois.‭ ‬Pendant les‭ ‬2‭ ‬derniers mois elles reçoivent,‭ ‬en plus de leur ration habituelle,‭ ‬des produits laitiers.‭<br>
    Nos agneaux sont élevés en plein air avec des céréales,‭ ‬de‭ ‬l‭’‬herbe et du foin durant‭ ‬toute leur vie de‭ ‬6‭ ‬mois avant l‭’‬abattage.‭<br>
    Nous proposons également des lapins.</p>

    <h2><span>S</span>ervices</h2>

    <p id="serv">Que vous soyez professionnel ou particulier,‭ ‬nous vous proposons une prestation d'abattage et de découpe de volailles dans nos installations à Belhomert.‭ ‬Contactez-nous pour toutes informations concernant l'abattage,‭ ‬via le formulaire de la rubrique‭ "‬Contact‭"‬.‭</p>

    	</div>
    </div>
