<div class="row">
<h4>Nos produits & Services</h4>
Nos produits sont disponibles à la vente sur les marchés ainsi qu'à Belhomert.
</div>
<p>Volailles et lagomorphes</p>
<table>
 
<tbody>

    <tr>
      <td><img class="volaille" src="images/poulet.jpg"></td>
      <td>Poulets</td>
      <td>Elevés en plein air</td>
      <td>Age: x semaines</td>
      <td>Alimentation: xxx</td>
    </tr>
    <tr>
      <td><img class="volaille" src="images/pintade.jpg"></td>
      <td>Pintades</td>
      <td>Elevées en plein air</td>
      <td>Age: x semaines</td>
      <td>Alimentation: xxx</td>
    </tr>
    <tr>
    <td><img class="volaille" src="images/canette.jpeg"></td>
     <td>Canettes</td>
     <td>Elevées en plein air</td>
     <td>Age: x semaines</td>
     <td>Alimentation: xxx</td>
    </tr>
    <tr>
    	<td><img class="volaille" src="images/canard.jpeg"></td>
     	<td>Canards</td>
    	<td>Elevés en plein air</td>
     	<td>Age: x semaines</td>
     	<td>Alimentation: xxx</td>
    </tr>
    <tr>
		<td><img class="volaille" src="images/coq.jpeg"></td>
     	<td>Coqs</td>
    	<td>Elevés en plein air</td>
     	<td>Age: x semaines</td>
     	<td>Alimentation: xxx</td>
	</tr>
	<tr>
		<td><img class="volaille" src="images/lapin.jpeg"></td>
		<td>Lapins</td>
    	<td>Elevés en plein air</td>
     	<td>Age: x semaines</td>
     	<td>Alimentation: xxx</td>

	</tr>

  		</tbody>

			</table>
       <tr>

<p>Volailles festives</p>


<table>
<tbody>
    <tr>
      <td><img class="volaille" src="images/chapon.jpeg"/></td>
      <td>Chapons</td>
      <td>Elevés en plein air</td>
      <td>Age: x semaines</td>
      <td>Alimentation: xxx</td>
    </tr>
    <tr>
      <td><img class="volaille" src="images/oie.jpg"/></td>
      <td>Oies</td>
      <td>Elevées en plein air</td>
      <td>Age: x semaines</td>
      <td>Alimentation: xxx</td>
    </tr>
    <tr>
    <td><img class="volaille" src="images/dinde.jpg"/></td>
     <td>Dindes</td>
     <td>Elevées en plein air</td>
     <td>Age: x semaines</td>
     <td>Alimentation: xxx</td>
    </tr>
    <tr>
    	<td><img class="volaille" src="images/poularde.jpg"/></td>
     	<td>Poulardes</td>
    	<td>Elevées en plein air</td>
     	<td>Age: x semaines</td>
     	<td>Alimentation: xxx</td>
    </tr>

  </tbody>

</table>

<div class="row">
	<h4>Services</h4>
  Abattage et découpe pour professionnels artisans bouchers et/ou particuliers</h4>
	</div>
</div>
