<div class="container-fluid">
  <div class="row">
		<h2><span>N</span>os <span>P</span>roduits & <span>S</span>ervices</h2>
    <p class="serv">Toutes nos volailles traditionnelles‭ ‬sont élevées en plein air et‭ ‬bénéficient d'une alimentation‭ ‬saine‭ ‬aux céréales avec un complément de minéraux.‭ ‬La durée d’élevage de toutes nos volailles‭ ‬traditionnelles‭ ‬est‭ ‬de‭ ‬15‭ ‬semaines minimum.‭<br>
    Nos volailles festives sont élevées‭ ‬en plein air et bénéficient d‭’‬une alimentation saine‭ ‬aux céréales avec un complément de minéraux.‭ ‬Leur‭ ‬élevage dure au‭ ‬moins‭ ‬6‭ ‬mois.‭ ‬Pendant les‭ ‬2‭ ‬derniers mois elles reçoivent,‭ ‬en plus de leur ration habituelle,‭ ‬des produits laitiers.‭<br>
    Nos agneaux sont élevés en plein air avec des céréales,‭ ‬de‭ ‬l‭’‬herbe et du foin durant‭ ‬toute leur vie de‭ ‬6‭ ‬mois avant l‭’‬abattage.‭<br>
    Nous proposons également des lapins.</p>
    <div class="col-md-3">
      <div id="block1" class="vign">
      </div><!--block1-->
    </div><!--col-md-3-->
    <div class="col-md-3">
      <div class="desc">
        <h4 class="titrevign">Volailles</h4>
        <ul>
          <li><p>Poules</p></li>
          <li><p>Poulets</p></li>
          <li><p>Coqs</p></li>
          <li><p>Pintades</p></li>
          <li><p>Canettes</p></li>
          <li><p>Canard</p></li>
        </ul>
      </div><!--text1-->
    </div><!--col-md-3-->
    <div class="col-md-3">
      <div id="block2" class="vign">
      </div><!--block2-->
    </div><!--col-md-3-->
    <div class="col-md-3">
      <div class="desc">
        <h4 class="titrevign">Volailles Festives</h4>
        <ul>
          <li><p>Chapons</p></li>
          <li><p>Oies</p></li>
          <li><p>Dindes</p></li>
          <li><p>Poulardes</p></li>
        </ul>
      </div><!--text2-->
    </div><!--col-md-3-->
        <div class="col-md-3">
      <div id="block3" class="vign">
      </div><!--block3-->
    </div><!--col-md-3-->
    <div class="col-md-3">
      <div class="desc">
        <h4 class="titrevign">Lapins</h4>
        <ul>
          <p></p>
        </ul>
      </div><!--text3-->
    </div><!--col-md-3-->
        <div class="col-md-3">
      <div id="block4" class="vign">
      </div><!--block4-->
    </div><!--col-md-3-->
    <div class="col-md-3">
      <div class="desc">
        <h4 class="titrevign">Agneaux</h4>
        <ul>
          <li><p>Gigot</p></li>
          <li><p>Epaule</p></li>
          <li><p>Carré, couronne</p></li>
          <li><p>Cotelettes</p></li>
          <li><p>Collier</p></li>
        </ul>
      </div><!--text4-->
    </div><!--col-md-3-->
  </div><!--row-->
  <div class="row">
    <h2><span>S</span>ervices</h2>
    <p class="serv">Que vous soyez professionnel ou particulier,‭ ‬nous vous proposons une prestation d'abattage et de découpe de volailles dans nos installations à Belhomert.‭ ‬Contactez-nous pour toutes informations concernant l'abattage,‭ ‬via le formulaire de la rubrique‭ "‬Contact‭"‬.‭</p>
  </div><!--row-->
</div><!--container-fluid-->