<div class="container-fluid">
	<div class="row">
		<h2>
			<span>N</span>os <span>I</span>nstallations
		</h2>

    <div class="container">
          <div class="row">
            <!-- The carousel -->
            <div id="transition-timer-carousel" class="carousel slide transition-timer-carousel" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#transition-timer-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#transition-timer-carousel" data-slide-to="1"></li>
              <li data-target="#transition-timer-carousel" data-slide-to="2"></li>
              <li data-target="#transition-timer-carousel" data-slide-to="3"></li>
              <li data-target="#transition-timer-carousel" data-slide-to="4"></li>
              <li data-target="#transition-timer-carousel" data-slide-to="5"></li>
              <li data-target="#transition-timer-carousel" data-slide-to="6"></li>
              <li data-target="#transition-timer-carousel" data-slide-to="7"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
                    <div class="item active">
                        <img src="./images/imgab01.JPG" />
                        <div class="carousel-caption">
                            <h1 class="carousel-caption-header"></h1>
                            <p class="carousel-caption-text hidden-sm hidden-xs">
                                <h2>Vue de notre établissement situé à Belhomert</h2>
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="./images/imgab02.JPG" />
                        <div class="carousel-caption">
                            <h1 class="carousel-caption-header"></h1>
                            <p class="carousel-caption-text hidden-sm hidden-xs">
                                <h2>La chaîne d'abattage</h2>
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="./images/imgab03.JPG" />
                        <div class="carousel-caption">
                            <h1 class="carousel-caption-header"></h1>
                            <p class="carousel-caption-text hidden-sm hidden-xs">
                                <h2>...</h2>
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="./images/imgab04.JPG" />
                        <div class="carousel-caption">
                            <h1 class="carousel-caption-header"></h1>
                            <p class="carousel-caption-text hidden-sm hidden-xs">
                                <h2>plumeuse vue de l'intérieur</h2>
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="./images/imgab05.JPG" />
                        <div class="carousel-caption">
                            <h1 class="carousel-caption-header"></h1>
                            <p class="carousel-caption-text hidden-sm hidden-xs">
                                <h2>plumeuse vue de haut</h2>
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="./images/imgab06.JPG" />
                        <div class="carousel-caption">
                            <h1 class="carousel-caption-header"></h1>
                            <p class="carousel-caption-text hidden-sm hidden-xs">
                                <h2>ventilation de la chambre froide.</h2>
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="./images/imgab07.JPG" />
                        <div class="carousel-caption">
                            <h1 class="carousel-caption-header"></h1>
                            <p class="carousel-caption-text hidden-sm hidden-xs">
                                <h2>notre laboratoire</h2>
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="./images/imgab08.JPG" />
                        <div class="carousel-caption">
                            <h1 class="carousel-caption-header"></h1>
                            <p class="carousel-caption-text hidden-sm hidden-xs">
                                <h2>autre vue du laboratoire</h2>
                            </p>
                        </div>
                    </div>
                </div>
            

      
                <!-- Controls -->
          <a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#transition-timer-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
            
                <!-- Timer "progress bar" -->
                <hr class="transition-timer-carousel-progress-bar animate" />
	</div><!--row-->
</div><!--container-fluid-->