<div class="container-fluid">
	<div class="row">
		<h2>
			<span>N</span>os <span>I</span>nstallations
		</h2>
        <p id="inst">Nos locaux sont agréés aux normes CE, selon la réglementation. Nous y proposons un service d'abattage pour les professionnels et les particuliers. Pour plus d'information, n'hésitez pas à nous contacter via le formulaire de notre rubrique contact.</p>
        <!-- The carousel -->
        <div id="carousel" class="col-md-6 col-md-offset-3">
            <div id="transition-timer-carousel" class="carousel slide transition-timer-carousel" data-ride="carousel">
            <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#transition-timer-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#transition-timer-carousel" data-slide-to="1"></li>
                    <li data-target="#transition-timer-carousel" data-slide-to="2"></li>
                    <li data-target="#transition-timer-carousel" data-slide-to="3"></li>
                    <li data-target="#transition-timer-carousel" data-slide-to="4"></li>
                    <li data-target="#transition-timer-carousel" data-slide-to="5"></li>
                    <li data-target="#transition-timer-carousel" data-slide-to="6"></li>
                    <li data-target="#transition-timer-carousel" data-slide-to="7"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active"><img src="./images/imgab01.jpg"/>
                        <div class="carousel-caption">
                            <h1 class="carousel-caption-header"></h1>
                            <p class="carousel-caption-text hidden-sm hidden-xs">
                                <h4 class="descarousel">Vue de notre établissement situé à Belhomert</h4>
                            </p>
                        </div><!--carousel-caption-->
                    </div><!--item active-->
                    <div class="item">
                        <img src="./images/imgab02.JPG" />
                        <div class="carousel-caption">
                            <h1 class="carousel-caption-header"></h1>
                            <p class="carousel-caption-text hidden-sm hidden-xs">
                                <h4 class="descarousel">La chaîne d'abattage</h4>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./images/imgab03.jpg" />
                        <div class="carousel-caption">
                            <h1 class="carousel-caption-header"></h1>
                            <p class="carousel-caption-text hidden-sm hidden-xs">
                                <h4 class="descarousel">Laboratoire vu de l'intérieur</h4>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./images/imgab04.jpg" />
                        <div class="carousel-caption">
                            <h1 class="carousel-caption-header"></h1>
                            <p class="carousel-caption-text hidden-sm hidden-xs">
                                <h4 class="descarousel">Laboratoire vu de l'intérieur</h4>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./images/imgab05.jpg" />
                        <div class="carousel-caption">
                            <h1 class="carousel-caption-header"></h1>
                            <p class="carousel-caption-text hidden-sm hidden-xs">
                                <h4 class="descarousel">Chariots de stockage</h4>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./images/imgab06.jpg" />
                        <div class="carousel-caption">
                            <h1 class="carousel-caption-header"></h1>
                            <p class="carousel-caption-text hidden-sm hidden-xs">
                                <h4 class="descarousel">Chambre froide</h4>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./images/imgab08.jpg" />
                        <div class="carousel-caption">
                            <h1 class="carousel-caption-header"></h1>
                            <p class="carousel-caption-text hidden-sm hidden-xs">
                                <h4 class="descarousel">Station d'effilage</h4>
                            </p>
                        </div>
                    </div>
                    <div class="item"><img src="./images/imgab07.jpg" />
                        <div class="carousel-caption">
                            <h1 class="carousel-caption-header"></h1>
                            <p class="carousel-caption-text hidden-sm hidden-xs">
                                <h4 class="descarousel">Produit fini</h4>
                            </p>
                        </div><!--carousel-caption-->
                    </div><!--item-->
                </div><!--carousel-inner-->
                <!-- Controls -->
                <a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#transition-timer-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div><!--transition-timer-carousel-->
        </div><!--carousel-->
	</div><!--row-->
</div><!--container-fluid-->