<div class="container-fluid">
	<div class="margebox">
		<div class="row">
			<h2>
				<span>C</span>alendrier des <span>M</span>archés
			</h2>
			<table>
				<tr>
					<td><h4>Jour</h4></td>
					<td><h4>Lieu</h4></td>
					<td><h4>Horaire</h4></td>
				</tr>
				<tr>
					<td>Mercredi</td>
					<td>Grenelle</td>
				<tr>
				<tr>
					<td>Vendredi</td>
				</tr>
				<tr>
					<td>Samedi</td>
				</tr>
				<tr>
					<td>Dimanche</td>
				</tr>
			</table>
		</div><!--row-->
	</div><!--margebox-->
</div>