<div class="container-fluid">
	<div class="margebox">
		<div class="row">
			<h2>
				<span>C</span>alendrier des <span>M</span>archés
			</h2>
			<table class="tableau2">
				<thead>
				<tr>
					<td><h4>Jour</h4></td>
					<td><h4>Lieu</h4></td>
					<td class="adresse"><h4>Adresse</h4></td>
					<td><h4>Horaires</h4></td>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>Mercredi matin</td>
					<td>Grenelle</td>
					<td class="adresse">Bd de Grenelle<br>75015 Paris<br>Entre la rue Lourmel et la rue du Commerce<br>Métro Station Dupleix, ligne 6 </td>
					<td>9h00-14h00</td>
				</tr>
				<tr>
					<td>Mercredi après midi</td>
					<td>Issy les Moulineaux</td>
					<td class="adresse">Marché République<br>Esplanade de l’Hôtel de Ville<br>Métro Station Mairie d’Issy, ligne 12</td>
					<td>16H30-20h00</td>
				</tr>	
				<tr>
					<td>Vendredi matin</td>
					<td>Saint Denis</td>
					<td class="adresse">Halle du marché Saint-Denis<br>93200 Saint-Denis<br>Accès Bus : 153, 168, 239, 253, 268<br>Métro : Station Basilique de Saint-Denis, ligne 13 </td>
					<td>9h00-14h00</td>
				</tr>
				<tr><td>Vendredi après midi</td>
					<td>Issy les Moulineaux</td>
					<td></td>
					<td>16h30-20h00</td></tr>
				<tr>
					<td>Samedi matin</td>
					<td>Marché Chevry</td>
					<td class="adresse">Place du Marché Neuf<br>91190 Gif-sur-Yvette</td>
					<td>8h00-13h00</td>
				</tr>
				<tr>
					<td>Samedi matin</td>
					<td>Marché Lozere</td>
					<td class="adresse">Marché alimentaire couvert<br>Rue Roger Collet (près de la gare de Lozère)<br>91120 Palaiseau</td>
					<td>9h00-13h00</td>
				</tr>
				<tr>
					<td>Samedi matin</td>
					<td>Marché Maubert</td>
					<td class="adresse">Place Maubert<br>75005 Paris<br>Métro Station Maubert Mutualité, ligne 10 </td>
					<td>9h30-14h30</td>
				</tr>
				<tr>
					<td>Dimanche matin</td>
					<td>Marché Saint Denis</td>
					<td></td>
					<td>8h00-14h00</td>
				</tr>
				<tr>
					<td>Dimanche matin</td>
					<td>Marche Grenelle</td>
					<td></td>
					<td>9h00-14h00</td>
				</tr>
				<tr>
					<td>Dimanche matin</td>
					<td>Marche Bercy</td>
					<td class="adresse">Entre le n°14 place Lachambeaudie et le n°11 rue Baron-le-Roy<br>75012 Paris<br>Métro Station Cour Saint-Émilion, ligne 14</td>
					<td>9h00-14h00</td>
				</tr>
				</tbody>
			</table>
		</div><!--row-->
	</div><!--margebox-->
</div>